.main-heading {
    padding-bottom: calc(var(--size-100) / 2) ;
}

.main-heading h1 {
    font-size: xx-large;
    line-height: 1.6rem;
}

.main-heading p {
    font-weight: 600;
    color: var(--color-grey);
    padding-top: calc(var(--size-100) / 2);
    text-transform: none;
}

.avatar-wrapper {
    padding: var(--size-200) var(--size-100) 0 0;
}

.about-details {
    background-color: var(--color-grey-light);
    padding-top: calc(var(--size-100) / 2);
    min-height: 80vh;
}

.about-details h3 {
    font-size: 1.2rem;
}

.about-details .skills {
    font-size: large;
}

.main-heading ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 600;
    color: var(--color-grey);
}

.main-heading ul li::before {
    content: '• ';
    font-weight: bolder;
    font-size: x-large;
}

.about-title .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

@media (min-width: 769px) {
    .main-heading p {
        max-width: 60%;
    }
    .main-heading ul {
        max-width: 50%;
    }
}