/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: var(--color-white);
}

html {
    scroll-behavior: smooth;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

a:visited {
    color: var(--color-grey);
}

/* variables */

:root {
    --color-primary: linear-gradient(45deg, #FF00A8, #FFBD00);
    --color-grey: #818181;
    --color-grey-light: #FAFAFA;
    --color-yellow: #FFBD00;
    --color-black: #000;
    --color-white: #fff;

    --size-100: 1rem;
    --size-200: 2rem;
    --size-500: 5rem;
    --size-900: 9rem;
}

[data-theme-dark] {
    --color-grey: #ffffff;
    --color-grey-light: #313131;
    --color-yellow: #FFBD00;
    --color-black: #b1b1b1;
    --color-white: #272727;
}

.padding-block-100 {
    padding-block: var(--size-100);
}

.padding-block-200 {
    padding-block: var(--size-200);
}

.padding-block-500 {
    padding-block: var(--size-500);
}

.padding-block-900 {
    padding-block: var(--size-900);
}


.padding-inline-100 {
    padding-inline: var(--size-100);
}

.padding-inline-200 {
    padding-inline: var(--size-200);
}

.padding-inline-500 {
    padding-inline: var(--size-500);
}

.padding-inline-900 {
    padding-inline: var(--size-900);
}

@media (min-width: 769px) {
    .padding-block-100 {
        padding-block: calc(var(--size-100) + 5px);
    }
    .padding-block-500 {
        padding-block: var(--size-100);
    }
}

@media (min-width: 1280px) {
    .padding-block-500 {
        padding-block: var(--size-500);
    }
}

/* styling */

.container {
    padding-inline: var(--size-200);
    margin: auto;
}

@media (min-width: 769px) {
    .container {
        max-width: 760px;
        margin: auto;
        padding-inline: 0.2rem;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
        margin: auto;
    }
}

/* loading */

div.splash {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    z-index: 1000;
}

@keyframes ldio-a0a8yqqa9k4 {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldio-a0a8yqqa9k4 div {
    position: absolute;
    width: 33px;
    height: 33px;
    border: 3px solid #ffbd00;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .ldio-a0a8yqqa9k4 div {
    animation: ldio-a0a8yqqa9k4 0.5586592178770949s linear infinite;
    top: 50px;
    left: 50px
  }
  .loadingio-spinner-rolling-sb2dbdau45 {
    width: 64px;
    height: 64px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-a0a8yqqa9k4 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.64);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-a0a8yqqa9k4 div { 
    box-sizing: content-box; 
}

/* generated by https://loading.io/ */

/* header */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.position-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding-inline: var(--size-200);
}

.overflow-hidden {
    overflow: hidden;
}

header .menu-btn-wrapper {
    z-index: 21;
}

header .menu-btn-wrapper .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-btn .yellow-line {
    position: absolute;
    transition: margin-left 0.3s ease-in;
}

.yellow-line-shift {
    margin-left: -20px;
}

header nav {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: var(--size-500);
    background-color: var(--color-white);
    width: 100%;
    height: 100vh;
    z-index: 20;
    display: flex;
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 0.5s 0.5s ease-out;
}

.nav-open {
    transform: scaleX(1);
    position: fixed;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

nav ul li a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-grey);
    text-transform: uppercase;
    position: relative;
}

nav ul li a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    display: block;
    background-color: var(--color-grey);
    height: 2px;
    width: 0;
    transition: width 0.5s ease-out;
}

nav ul li a:hover::after {
    width: 100%;
}

.dark-mode-toggle {
    cursor: pointer;
    transform: scale(0);
    position: absolute;
    left: 100vw;
    top: 50vh;
    z-index: 22;
    transition: all 0.5s 0.5s;
}

.toggle-display {
    transform: scale(1);
    left: 0;
    padding-inline: var(--size-200);
}

.dark-mode-toggle .outline {
    border: 2px solid var(--color-grey);
    border-radius: 50vh;
    background-color: var(--color-grey-light);
    width: 30px;
    height: 14px;
    position: relative;
}

.toggler {
    width: 10px;
    aspect-ratio: 1;
    background: var(--color-primary);
    border: 1px solid var(--color-grey-light);
    border-radius: 50vh;
    position: absolute;
    right: 16px;
    transition: right 0.2s ease-in;
}

.toggle-on {
    right: 0;
}

.dark-mode-toggle b {
    color: var(--color-grey);
    font-size: 0.8rem;
}

@media (min-width: 769px) {
    .header-container {
        max-width: 760px;
        padding: 0;
        margin: auto;
    }
    header {
        align-items: center;
    }
    .position-fixed {    
        padding-block: 0 ;
    }
    header .menu-btn-wrapper {
        display: none;
    }
    header nav {
        transform: scaleX(1);
        position: relative;
        height: auto;
        padding-block: var(--size-100);
        align-self: center;
        width: fit-content;
    }
    nav ul {
        flex-direction: row;
    }
    nav ul li a {
        font-size: 1rem;
    }
    .dark-mode-toggle {
        transform: scale(1);
        display: flex;
        gap: 0.5rem;
        position: static;
    }
}

@media (min-width: 1280px) {
    .header-container {
        max-width: 1200px;
    }
}


/* main section */

section.main {
    height: 90vh;
}

.avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 4rem;
    /* text selection disable */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.avatar-wrapper img {
    aspect-ratio: 1;
    position: absolute;
}

.avatar {
    width: 80px;
    border-radius: 50vh;
}

.avatar-wrapper .dot-1 {
    animation: rotate 2s cubic-bezier(.21,.72,.83,.67) infinite;
}

.avatar-wrapper .dot-2 {
    animation: rotate 2.5s cubic-bezier(.21,.72,.83,.67) infinite reverse;
}

@media (min-width: 769px) {
    .avatar-wrapper {
        width: 100%;
        grid-column: 2 / 3;
        padding-right: 1rem;
    }
    
    .avatar-wrapper img {
        width: 200px;
    }
    
    .avatar-wrapper .avatar {
        width: 150px;
        border-radius: 50vh;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-heading {
    text-transform: uppercase;
}

.main-heading h3 {
    font-size: 1.6rem;
    color: var(--color-grey);
    line-height: 1.5rem;
}

.main-heading h1 {
    margin-left: -3px;
    font-size: 4.2rem;
    text-transform: uppercase;
    background: var(--color-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 3.5rem;
}


.primary-button {
    background: var(--color-primary);
    color: var(--color-grey-light);
    padding: 0.5rem 1rem;
    border-radius: 50vh;
    font-weight: bold;
    font-size: 1rem;
}

.primary-button:hover {
    background: var(--color-grey);
    box-shadow: 1px 2px 20px #FFCAAD;
}

@keyframes title-move-in {
    from {
        margin-left: -50px;
        opacity: 0;
        
    }
    to {
        margin-left: 0;
        opacity: 1;
        
    }
}

.animate {
    animation: title-move-in 0.8s 0.1s ease-in paused;
}

.animation-start {
    animation-play-state: running;
}

.duration-3 {
    animation-duration: 0.3s;
}

.duration-6 {
    animation-duration: 0.6s;
}

.duration-9 {
    animation-duration: 0.9s;
}

.arrow-wrapper {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 8rem;
    opacity: 0.6;
}

.arrow-wrapper img {
    position: absolute;
}

.arrow-wrapper .arrow {
    animation: arrow 2s ease-out infinite alternate;
}

@media (min-width: 769px) {
    section.main .container {
        display: grid;
        grid-template-columns: 4fr 1fr;
        padding-block: var(--size-200);
    }

    .main-heading {
        grid-column: 1 / 2;
        grid-row-start: 1;
    }
    .arrow-wrapper {
        grid-column: 1 / 3;
    }
    .main-heading h3 {
        font-size: 2.5rem;
        line-height: 2.2rem;
    }
    .main-heading h1 {
        font-size: 8rem;
        line-height: 6rem;
    }
    .primary-button {
        font-size: 1.3rem;
    }
}

@keyframes arrow {
    from {
        transform: translateY(2px);
    }
    to {
        transform: translateY(16px);
    }
}

/* portfolio section */

section.portfolio {
    background-color: var(--color-grey-light);
    min-height: 85vh;
    scroll-margin-block: 7.5rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery .img-box {
    aspect-ratio: 1;
    overflow: hidden;
}

.gallery .img-box a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .img-box img {
    width: 101%;
    transform: scale(1);
    transition: transform 0.2s ease-in;
}

.gallery .img-box a:hover img {
    transform: scale(1.2);
}

@media (min-width: 769px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        padding-block: var(--size-200);
    }    
}

@media (min-width: 60em) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
}

/* footer */

footer {
    background-color: var(--color-grey-light);
    text-align: center;
}

.footer-text {
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--color-black);
}

@media (min-width: 769px) {
    .footer-text {
        padding-block: var(--size-100);
        font-size: 1rem;
    }    
}